	<header th:fragment="header" class="app-header">
		<div class="header-inner">

			<div class="header-top">
				<h1 class="logo">Handmade-1（在庫管理）</h1>

				<!-- ハンバーガーボタン -->
				 <button class="menu-btn" onclick="toggleMenu()">
					☰
				</button>
			</div>
			<!-- オーバーレイ -->
			 <div id="menu-overlay" class="menu-overlay" onclick="closeMenu()"></div>

			<nav class="nav" id="nav-menu">

				  <a th:href="@{/}"
				     th:classappend="${currentPath == 'home'} ? 'active' : ''">
				     Home
				  </a>

				  <a th:href="@{/items}"
				     th:classappend="${currentPath == 'items'} ? 'active' : ''">
				     商品
				  </a>

				  <a th:href="@{/inventory}"
				     th:classappend="${currentPath == 'inventory'} ? 'active' : ''">
				     在庫
				  </a>

				  <a th:href="@{/sales}"
				     th:classappend="${currentPath == 'sales'} ? 'active' : ''">
				     販売
				  </a>
				</nav>

			
		</div>
	</header>