<head th:fragment="commonHead(title,description)">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title th:text="${title}">Handmade</title>
  <meta name="description" th:content="${description}">

  <!-- CSS -->
  <link rel="stylesheet" th:href="@{/css/base.css}">
  <link rel="stylesheet" th:href="@{/css/layout.css}">
  <link rel="stylesheet" th:href="@{/css/components.css}">
  <link rel="stylesheet" th:href="@{/css/page.css}">

  <!-- 必要なら後で追加 -->
  <!-- <link rel="icon" th:href="@{/favicon.ico}"> -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>