/* =========================
   Reset / Base
========================= */
* {
  box-sizing: border-box;
}
/* PCだけ */
@media screen and (max-width: 768px) {
  .spHide{display: none;}
}

@media screen and (min-width: 768px) {
  .pcHide{display: none;}
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: #f5f6f8;
  color: #333;
}

.bold {font-weight: bold;}

.taC{text-align: center;}
.m8{margin: 8px;}
.mb16{margin-bottom: 16px;}
.mb32{margin-bottom: 32px;}
