/* =========================
  Index text/ icon
========================= */
.index-main{
  font-size: 1.2rem;
  margin-top: 16px;
}
.icon-item-category{
  font-size: 0.85rem;
  line-height: 1;
  border: 1px solid #000;
  border-radius: 50px;
  background: #fff;
  padding: 4px 8px;
  color: #000;
  display: inline-block;
  margin-left: 8px;
  margin-bottom: 5px;
}


/* =========================
   Buttons
========================= */
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin: 4px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 0.85rem;
  min-width: 40px;
  min-height: 32px;
  text-align: center;
  vertical-align: middle;
  border: none;
}

.btn-primary {
  background: #1BD896;
  color: #fff;
}

.btn-secondary {
  background: #6c757d;
  color: #fff;
}

/* ここから自分設定 */
.btn-L{
  padding: 8px;
  margin: 16px auto;
  width: 90%;
  max-width: 380px;
  display: block;
  border-radius: 50px;
  font-size: 1rem;
}
.btn-M{
  padding: 8px;
  margin: 16px auto;
  width: 45%;
  border-radius: 50px;
}
.btn-M2set{
  margin: auto;
  display: flex;
  gap: 8px;
  max-width: 600px;
}

.btn-danger {
  background: tomato;
  border: 2px solid tomato;
  color: #fff;
}

.link-text{
  margin: 8px auto;
  text-align: center;
  color: #000;
  display: block;
}

/* =========================
   form
========================= */
form.input-form{
  background: #fff;
  border-radius: 10px;
  border:1px solid #eee;
  padding: 16px;
}
/* PC表示 */
@media screen and (min-width: 768px) {
  form.input-form{
    padding: 16px 80px;
  }

  form .inputs{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    width: 100%;
    gap: 0 16px;
  }
  form .inputs input{
    width: 49%;
  }
}

form input, select{
  width: 100%;
  font-size: 16px;
  padding: 8px;
  margin: 8px auto;
  border-radius: 8px;
  border: 1px solid #999;
  background: #f5f6f8;
}

form .selects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* PC表示 */
@media screen and (min-width: 768px) {
  form .selects {
    flex-wrap: nowrap;
    gap: 16px;
    width: 100%;
  }
}

form .select_wrap {
  position: relative;
  width: 48%;
}

/* セレクトの矢印スタイル指定 */
form select{
  -webkit-appearance:none;
  appearance: none;
}
form .select_wrap::before{
  content: "";
  position: absolute;
  right: 16px;
  top: 22px;
  width: 10px;
  height: 10px;
  border-top: 3px solid #1BD896;
  border-left: 3px solid #1BD896;
  transform: translateY(-50%) rotate(-135deg);
}

form textarea{
  display: block;
  margin: 8px 0;
  width: 100%;
}



/* =========================
   Table
========================= */
.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}

th, td {
  padding: 8px 12px;
  border-bottom: 1px solid #e0e0e0;
  text-align: left;
  white-space: nowrap;
  /* font-size: 0.8rem; */
}

th {
  background: #f0f2f5;
  font-size: 0.85rem;
}




/* =========================
   List-tableS PC
========================= */
.list-table th:first-child{
  width: 120px;
}

.list-table img{
  width: 100px;
}
.list-table .sku{
  font-size: 12px;
  color: #999;
}