/* =========================
   Table
========================= */
.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}

th, td {
  padding: 8px 12px;
  border-bottom: 1px solid #e0e0e0;
  text-align: left;
  white-space: nowrap;
}

th {
  background: #f0f2f5;
  font-size: 0.85rem;
}

/* =========================
   Buttons
========================= */
.btn {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 0.85rem;
}

.btn-primary {
  background: #2c7be5;
  color: #fff;
}

.btn-secondary {
  background: #6c757d;
  color: #fff;
}

/* ここから自分設定 */
.btn-primary-L{
  background: #1BD896;
  color: #fff;
  border: none;
  padding: 8px;
  margin: 16px auto;
  font-size: 16px;
  text-align: center;
  width: 100%;
  display: block;
  border-radius: 50px;
}

.btn-danger {
  background: tomato;
  border: 2px solid tomato;
  color: #fff;
}


/* =========================
   Mobile
========================= */
@media (max-width: 768px) {
  th, td {
    font-size: 0.8rem;
  }
}