/* =========================
   form
========================= */
form.search-form{
  background: #fff;
  border-radius: 10px;
  border:1px solid #eee;
  padding: 16px;
}
/* -- PC表示 =--*/
@media screen and (min-width: 768px) {
  form {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
  }
  form .inputs{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    width: 100%;
    gap: 0 16px;
  }
  form .inputs input{
    width: 49%;
  }
}


form input, select{
  width: 100%;
  font-size: 16px;
  padding: 8px;
  margin: 8px auto;
  border-radius: 8px;
  border: 1px solid #999;
  background: #f5f6f8;
}

form .selects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* -- PC表示 =--*/
@media screen and (min-width: 768px) {
  form .selects {
    flex-wrap: nowrap;
    gap: 16px;
    width: 100%;
  }
}

form .select_wrap {
  position: relative;
  width: 48%;
}


/* セレクトの矢印スタイル指定 */
form select{
  -webkit-appearance:none;
  appearance: none;
}
form .select_wrap::before{
  content: "";
  position: absolute;
  right: 16px;
  top: 22px;
  width: 10px;
  height: 10px;
  border-top: 3px solid #1BD896;
  border-left: 3px solid #1BD896;
  transform: translateY(-50%) rotate(-135deg);
}


/* =========================
   Inventory List
========================= */

/* 初期状態：PC（テーブル） */
.inventory-table {
  display: block;
}

.inventory-cards {
  display: none;
}

/* =========================
   Mobile
========================= */
@media (max-width: 768px) {

  /* テーブルは非表示 */
  .inventory-table {
    display: none;
  }

  /* カード表示 */
  .inventory-cards {
    display: grid;
    gap: 12px;
  }

  .inventory-card {
    background: #fff;
    border-radius: 6px;
    padding: 12px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.08);
  }

  .card-header {
    font-weight: bold;
    margin-bottom: 8px;
  }

  .card-body p {
    margin: 4px 0;
    font-size: 0.85rem;
    width: 50%;
    max-width: 150px;
  }

  .card-body p img {
    width: 100%;
  }

  .card-body .card-top{
    display: flex;
    flex-direction: row;
  }
  .card-top ul {
    list-style: none;
    padding: 0;
    margin: 0 0 0 16px;
  }
  .card-top ul h3{
    margin: 0;
  }

  .card-top .color{
    font-weight: bold;
    font-size: 20px;
    display: block;
    margin-bottom: 12px;
  }

  .card-body .v_category{
    position: absolute;
    left: 32px;
    margin-top: 12px;
  }
  .card-body .v_category span{
    background: #1BD896;
    border-radius:100px;
    color: #fff;
    padding: 2px 8px;
    font-size: 14px;
  }

  .card-body .v_detail{
    display: flex;
    flex-direction: row;
    margin: 8px 0;
  }
  .card-body .v_detail li{
    margin-right: 8px;
    font-size: 14px;
    background: #eee;
    padding: 2px 8px;
    border-radius: 50px;
  }

  .card-actions {
    /* margin-top: 8px; */
    /* text-align: right; */
    display: inline;
    position: absolute;
    right: 32px;
    margin-top: -32px;
  }

}


/* =========================
   PC
========================= */
.inventory-table th:first-child{
  width: 120px;
}
.inventory-table th:nth-child(2){
  width: 300px;
}
/* 在庫数の列を強調 */
.inventory-table td:nth-last-child(2){
  font-weight: bold;
}
.inventory-table img{
  width: 100px;
}
.inventory-table .sku{
  font-size: 12px;
  color: #999;
}
