@charset "UTF-8";
.error {
	color: red;
	font-weight: bold;
}

table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            padding: 8px;
            border: 1px solid #ccc;
        }
        th {
            background: #f0f0f0;
        }
        a.button, button {
            padding: 6px 10px;
            margin: 2px;
            display: inline-block;
            background: #007bff;
            color: white;
            text-decoration: none;
            border: none;
            border-radius: 4px;
        }
        a.button:hover, button:hover {
            background: #0056b3;
        }
        .danger {
            background: #d9534f;
        }
        .danger:hover {
            background: #c9302c;
        }
		
		
		/* ===== header ===== */
		.app-header {
		  background: #fff;
		  border-bottom: 1px solid #ddd;
		}

		.header-inner {
		  padding: 12px;
		}

		/* 上段（ロゴ+ボタン） */
		.header-top{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		/* ロゴ */
		.logo {
		  font-size: 1.2rem;
		  margin: 0;
		}

		/* ハンバーガーボタン */
		.menu-btn{
			font-size: 1.6rem;
			/* background: none; */
			border: none;
			cursor:pointer;
		}

		/* ===== overlay ===== */
		.menu-overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: rgba(0, 0, 0, 0.4);
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease;
		z-index: 998;
		}

		/* ===== nav popup ===== */
		.nav {
			position: fixed;
			top: 0;
			right: -300px; /* 画面外に隠す */
			width: 260px;
			height: 100vh;
			background: #fff;
			padding: 60px 16px 16px;
			display:  flex;
			flex-direction: column;
			gap: 12px;
			transition: right 0.3s ease;
			z-index: 999;
		}

		/* メニュー表示時 */
		.nav.open{
			right: 0;
		}
		.nav.open + .menu-overlay,
		.menu-overlay.open{
			opacity: 1;
			visibility: visible;
		}

		.nav a {
			padding:12px;
			/* background: #f5f5f5; */
			border-radius: 6px;
			text-decoration: none;
			color: #333;
		}
		.nav a:hover{
			background: #f0f0f0;
		}


		/* ===== PC表示 ===== */
		@media screen and (min-width: 768px) {

			.menu-overlay{
				display: none;
			}

		  .header-inner {
		    display: flex;
		    align-items: center;
		    justify-content: space-between;
		  }
			
		.menu-btn{
			  display: none;
			}
		.nav {
			position: static;
			height: auto;
			width: auto;
			/* display:  flex !important; */
		    /* gap: 12px; */
			flex-direction:row;
			background: none;
			padding: 0;
			transition: none;
		  }

		  .nav a {
		    /* background: none; */
		    padding: 6px 10px;
		  }

		  .nav a:hover {
		    text-decoration: underline;
		  }
		}