<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/head :: commonHead(
    '商品編集',
    'ハンドメイド作品の商品詳細を編集できます'
)}"></head>

<body>

	<!-- header 呼び出し -->
	<div th:replace="~{layout/header :: header('home')}"></div>

	<main>
		<h2>商品一覧</h2>
		<!-- ここに画面固有の中身 -->

		<div>
			<h2>ようこそ！</h2>
			<p>これはトップページです。</p>
		</div>
		<!-- footer 呼び出し -->
		<div th:replace="~{layout/footer :: footer}"></div>

		<script th:src="@{/js/common.js}"></script>
</body>

</html>