<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/head :: commonHead(
    '作品詳細',
    'ハンドメイド作品の作品詳細を確認できます'
)}"></head>

<body id="itemsDetail">

    <!-- header 呼び出し -->
    <div th:replace="~{layout/header :: header('itemsDetail')}"></div>

    <main class="container">
        <h2>作品の詳細</h2>
        <!-- ここに画面固有の中身 -->


        <!-- 作品情報 -->
        <table>
            <tr>
                <th>作品名</th>
                <td th:text="${item.name}"></td>
            </tr>
            <tr>
                <th>作品カテゴリ</th>
                <td th:text="${item.category}"></td>
            </tr>
            <tr>
                <th>説明</th>
                <td th:text="${item.description}"></td>
            </tr>
            <tr>
                <th>登録日</th>
                <td th:text="${#temporals.format(item.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
        </table>
        <br />
        <!-- 編集 -->
        <div class="flex jc-end">
            <a th:href="@{/items/{id}/edit(id=${item.id})}" class="btn btn-secondary"><i class="fa-regular fa-pen-to-square"></i></a>
            <!-- <br class="pcHide"> -->
            <!-- 削除（POST） -->
            <form th:action="@{/items/{id}/delete(id=${item.id})}" method="post">
                <button type="submit"  class="btn btn-danger" onclick="return confirm('作品を削除しますか？');">
                <i class="fa-solid fa-trash-can"></i>
                </button>
            </form>
        </div>

        <h2>この作品のバリエーション</h2>

        <a th:href="@{/items/{id}/variants/new(id=${item.id})}" class="btn btn-primary btn-L">
            新規バリエーションを追加
        </a>
        
        <!-- PC用テーブル -->
		<div class="list-table">
        <table>
            <thead>
                <tr>
                    <th>画像</th>
                    <th>色</th>
                    <th>サイズ</th>
                    <th>分類</th>
                    <th>入り数</th>
                    <th>在庫</th>
                    <th>原価</th>
                    <th>販売価格</th>
                    <th>SKU</th>
                    <th>操作</th>
                </tr>
            </thead>

            <tbody>
                <tr th:if="${#lists.isEmpty(variants)}">
                    <td colspan="10" style="text-align:center;">登録されているバリエーションがありません</td>
                </tr>

                <tr th:each="v : ${variants}">

                    <td>
                        <div th:if="${v.imageFilename != null}">
                            <img th:src="@{'/uploads/' + ${v.imageFilename}}" width="120">
                        </div>
                        <div th:if="${v.imageFilename == null}">
                            画像なし
                        </div>
                    </td>

                    <td th:text="${v.color}"></td>
                    <td th:text="${v.size}"></td>
                    <td th:text="${v.category}"></td>
                    <td th:text="${v.quantityPerSet}"></td>
                    <td th:text="${v.stock}"></td>
                    <td th:text="${v.costPrice}"></td>
                    <td th:text="${v.price}"></td>
                    <td th:text="${v.skuCode}"></td>
                    <td>
                        <a th:href="@{/items/{itemId}/variants/{variantId}/edit(itemId=${item.id},variantId=${v.id})}"
                            class="button">編集</a>
                    </td>
                </tr>
            </tbody>
        </table>
        </div><!-- /PC用 -->
        <!-- モバイル用カード -->
				<div class="list-cards">
                    <div th:if="${#lists.isEmpty(variants)}">
                        <p colspan="10" style="text-align:center;">登録されているバリエーションがありません</p>
                    </div>
					
                    <div class="list-cards"  th:each="v : ${variants}">

							<div class="card-body">
								<div class="card-top">
                                    <p th:if="${v.imageFilename != null}"><img th:src="@{'/uploads/' + ${v.imageFilename}}"></p>
                                    <!-- <p th:if="${v.imageFilename == null}">
                                        画像なし
                                    </p> -->
                                    <p class="v_category"><span th:text="${v.category}"></span></p>

                                    <ul>
                                       <h3><span th:text="${v.color}"></span></h3> 
                                       <div class="v_detail">
                                            <li><span th:text="${v.size}"></span></li>
											<li>入数：<span th:text="${v.quantityPerSet}"></span></li>
                                       </div>
                                        <li>販売価格：<span th:text="${v.price}"></span>円</li>
										<li>在庫：<span th:text="${v.stock}"></span>個</li>
                                        <!-- <li>SKUコード：<span th:text="${v.skuCode}"></span></li> -->   
                                    </ul>

                                    <!-- <p th:text="${v.color}"></p> -->
                                    <!-- <p th:text="${v.size}"></p> -->
                                    <!-- <p th:text="${v.category}"></p> -->
                                    <!-- <p th:text="${v.quantityPerSet}"></p> -->
                                    <!-- <p th:text="${v.stock}"></p> -->
                                    <!-- <p th:text="${v.costPrice}"></p> -->
                                    <!-- <p th:text="${v.price}"></p> -->
                                    <!-- <p th:text="${v.skuCode}"></p> -->
                                    <!-- <p>
                                        <a th:href="@{/items/{itemId}/variants/{variantId}/edit(itemId=${item.id},variantId=${v.id})}"
                                            class="button">編集</a>
                                    </p> -->
								</div>
							</div>
                            <div class="card-actions">
                            <a th:href="@{/items/{itemId}/variants/{variantId}/edit(itemId=${item.id},variantId=${v.id})}" 
                                class="btn btn-secondary"><i class="fa-regular fa-pen-to-square"></i></a>
                            </div>     
					</div>
				</div><!-- モバイル用 -->



        <br>
        <a href="/items" class="link-text">作品一覧に戻る</a>

        <!-- footer 呼び出し -->
        <div th:replace="~{layout/footer :: footer}"></div>

        <script th:src="@{/js/common.js}"></script>
</body>

</html>