<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/head :: commonHead(
    '作品編集',
    'ハンドメイド作品の作品詳細を編集できます'
)}"></head>

<body id="items">

    <!-- header 呼び出し -->
    <div th:replace="~{layout/header :: header('items')}"></div>

    <main class="container">
        <h2>作品の分類リスト</h2>
        <!-- ここに画面固有の中身 -->

        <!-- 新規登録ボタン -->
        <div class="mb32">
            <a th:href="@{/items/new}" class="btn btn-primary btn-L">
                <i class="fa-solid fa-circle-plus"></i> 作品分類を新規登録</a>
        </div>

        <!-- PC用テーブル -->
        <div class="list-table">
            <!-- 作品一覧テーブル -->
            <table>
                <thead>
                    <tr>
                        <!-- <th id="item-img">>画像</th> -->
                        <th id="item-id" class="spHide">id</th>
                        <th id="item-name">作品</th>
                        <th id="item-category" class="spHide">作品カテゴリ</th> 
                        <th id="item-discription" class="spHide">メモ</th> 
                        <th id="item-created" class="spHide">登録日</th>
                        <th id="item-action">操作</th>
                    </tr>
                </thead>

                <tbody>
                    <!-- items が空の場合 -->
                    <tr th:if="${#lists.isEmpty(items)}">
                        <td colspan="4" style="text-align:center;">登録された作品がありません</td>
                    </tr>

                    <!-- items が存在する場合 -->
                    <tr th:each="item : ${items}">
                        <!-- <td><img th:src="@{/images/noimage.png'}"></td> -->
                        <td th:text="${item.id}" class="spHide"></td>
                        <td>
                            <span th:text="${item.id}"></span>
                            <br class="pcHide">
                            <span th:text="${item.name}"></span>
                            <br class="pcHide">
                            <span th:text="${item.category}" class="pcHide"></span>
                        </td>
                        
                        <td th:text="${item.category}" class="spHide"></td>
                        <td th:text="${item.description}" class="spHide"></td>
                        <td th:text="${#temporals.format(item.createdAt, 'yyyy-MM-dd')}" class="spHide"></td>
                        <td>

                            <!-- 詳細 -->
                            <a th:href="@{/items/{id}(id=${item.id})}" class="btn btn-secondary">
                                <i class="fa-solid fa-angles-right"></i>
                            </a>
                            <br class="pcHide">
                            <!-- 編集 -->
                            <a th:href="@{/items/{id}/edit(id=${item.id})}" class="btn btn-secondary"><i
                                class="fa-regular fa-pen-to-square"></i></a>
                            <br class="pcHide">
                            <!-- 削除（POST） -->
                            <form th:action="@{/items/{id}/delete(id=${item.id})}" method="post"
                                style="display:inline;">
                                <button type="submit" class="btn btn-danger" onclick="return confirm('本当に削除しますか？');">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                            </form>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div><!-- /list-table -->

        <br />
        <a th:href="@{/sales}" class="link-text">販売一覧を見る</a>
        <!-- footer 呼び出し -->
        <div th:replace="~{layout/footer :: footer}"></div>

        <script th:src="@{/js/common.js}"></script>
</body>

</html>