<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品一覧</title>
	<link rel="stylesheet" th:href="@{/css/reset.css}" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<h1>商品一覧</h1>

<!-- 新規登録ボタン -->
<a th:href="@{/items/new}" class="button">商品を登録する</a>

<!-- 商品一覧テーブル -->
<table>
    <thead>
        <tr>
            <th>商品名</th>
            <th>商品カテゴリ</th>
			<th>説明</th>
            <th>登録日</th>
            <th>操作</th>
        </tr>
    </thead>

    <tbody>
        <!-- items が空の場合 -->
        <tr th:if="${#lists.isEmpty(items)}">
            <td colspan="4" style="text-align:center;">登録された商品がありません</td>
        </tr>

        <!-- items が存在する場合 -->
        <tr th:each="item : ${items}">
			<td th:text="${item.name}"></td>
            <td th:text="${item.category}"></td>
			<td th:text="${item.description}"></td>
            <td th:text="${#temporals.format(item.createdAt, 'yyyy-MM-dd')}"></td>
			<td>

                <!-- 詳細 -->
                <a th:href="@{/items/{id}(id=${item.id})}" class="button">詳細</a>

                <!-- 編集 -->
                <a th:href="@{/items/{id}/edit(id=${item.id})}" class="button">編集</a>

                <!-- 削除（POST） -->
                <form th:action="@{/items/{id}/delete(id=${item.id})}" method="post" style="display:inline;">
                    <button type="submit" class="button danger"
                        onclick="return confirm('本当に削除しますか？');">
                        削除
                    </button>
                </form>
            </td>
        </tr>

    </tbody>
</table>
<br />
<a th:href="@{/sales}" class="button">販売一覧を見る</a>
</body>
</html>