<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/head :: commonHead(
    '商品登録',
    'ハンドメイド作品の商品を登録できます'
)}"></head>

<body>

	<!-- header 呼び出し -->
	<div th:replace="~{layout/header :: header('itemsNew')}"></div>

	<main>
		<h2>商品登録</h2>
		<!-- ここに画面固有の中身 -->

		<form th:action="@{/items}" method="post">

			<label>商品名：</label>
			<input type="text" name="name" required />
			<br /><br />

			<label>カテゴリ：</label>
			<input type="text" name="category" />
			<br /><br />

			<label>説明：</label>
			<textarea name="description" cols="40" rows="4"></textarea>
			<br /><br />

			<button type="submit" class="button">登録する</button>
			<a href="/items" class="button">戻る</a>
		</form>

		<!-- footer 呼び出し -->
		<div th:replace="~{layout/footer :: footer}"></div>

		<script th:src="@{/js/common.js}"></script>

</body>

</html>